﻿@model WebApplication.Models.LienChiHoi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LienChiHoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa.MaKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.MaKhoa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLienChiHoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>