﻿@model IEnumerable<WebApplication.Models.LienChiHoi>

@{
    ViewBag.Title = "Liên Chi hội";
    ViewBag.SubTitle = "Danh sách";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.MaKhoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.MaKhoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLienChiHoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLienChiHoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLienChiHoi })
        </td>
    </tr>
}
</table>