﻿@model WebApplication.Models.ChiHoi_HoatDong

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiHoi_HoatDong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiHoi.MaCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiHoi.MaCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoatDong.TenHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoatDong.TenHoatDong)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>