﻿@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->
<html>
<head>
    <!-- Start WOWSlider.com HEAD section -->
    @Styles.Render("~/Theme/engine1/style.css")
    @*<link rel="stylesheet" type="text/css" href="engine1/style.css" />*@
    @Scripts.Render("~/Theme/engine1/jquery.js")
    @*<script type="text/javascript" src="engine1/jquery.js"></script>*@
    <!-- End WOWSlider.com HEAD section -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hội sinh viên ĐH Kinh tế TPHCM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="GetTemplates.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    @Styles.Render("https://fonts.googleapis.com/css?family=Lato:300,400,700")
    @Styles.Render("https://fonts.googleapis.com/css?family=Kaushan+Script")
    @*<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">*@

    <!-- Animate.css -->
    @Styles.Render("~/Theme/css/animate.css")
    @*<link rel="stylesheet" href="css/animate.css">*@
    <!-- Icomoon Icon Fonts-->
    @Styles.Render("~/Theme/css/icomoon.css")
    @*<link rel="stylesheet" href="css/icomoon.css">*@
    <!-- Themify Icons-->
    @Styles.Render("~/Theme/css/themify-icons.css")
    @*<link rel="stylesheet" href="css/themify-icons.css">*@
    <!-- Bootstrap  -->
    @Styles.Render("~/Theme/css/bootstrap.css")
    @*<link rel="stylesheet" href="css/bootstrap.css">*@

    <!-- Magnific Popup -->
    @Styles.Render("~/Theme/css/magnific-popup.css")
    @*<link rel="stylesheet" href="css/magnific-popup.css">*@

    <!-- Bootstrap DateTimePicker -->
    @Styles.Render("~/Theme/css/bootstrap-datetimepicker.css")
    @*<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">*@

    <!-- Owl Carousel  -->
    @Styles.Render("~/Theme/css/owl.carousel.min.css")
    @*<link rel="stylesheet" href="css/owl.carousel.min.css">*@
    @Styles.Render("~/Theme/css/owl.theme.default.min.css")
    @*<link rel="stylesheet" href="css/owl.theme.default.min.css">*@

    <!-- Theme style  -->
    @Styles.Render("~/Theme/css/style.css")
    @*<link rel="stylesheet" href="css/style.css">*@

    <!-- Modernizr JS -->
    @Scripts.Render("~/Theme/js/modernizr-2.6.2.min.js")
    @*<script src="js/modernizr-2.6.2.min.js"></script>*@
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="gtco-loader"></div>

    <div id="page">

        <!-- <div class="page-inner"> -->
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="@Url.Action("DashboardV1", "Home")">Hội Sinh Viên UEH <em>.</em></a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li class="btn-cta"><a href="@Url.Action("DashboardV2", "Home")"><span>Vào trang quản lý</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">

                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
                                <h1 class="cursive-font">All in good taste!</h1>
                            </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">

                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <h3 class="cursive-font">Table Reservation</h3>
                                                <form action="#">
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="activities">Persons</label>
                                                            <select name="#" id="activities" class="form-control">
                                                                <option value="">Persons</option>
                                                                <option value="">1</option>
                                                                <option value="">2</option>
                                                                <option value="">3</option>
                                                                <option value="">4</option>
                                                                <option value="">5+</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="date-start">Date</label>
                                                            <input type="text" id="date" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="date-start">Time</label>
                                                            <input type="text" id="time" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary btn-block" value="Reserve Now">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header> -->
        <!-- Start WOWSlider.com BODY section -->
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    <li><a href="http://wowslider.com"><img src="~/Theme/data1/images/alumni_gallery.jpg" alt="http://wowslider.com/" title="Phong trào Sinh viên 5 tốt" id="wows1_0" /></a></li>
                    <li><img src="~/Theme/data1/images/event_alumni_gallery.jpg" alt="event alumni gallery" title="Hội sinh viên UEH" id="wows1_1" /></li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title="Cuộc vận động Sinh viên 5 Tốt"><span><img src="~/Theme/data1/tooltips/alumni_gallery.jpg" alt="Cuộc vận động Sinh viên 5 tốt" />1</span></a>
                    <a href="#" title="Hội sinh viên UEH"><span><img src="~/Theme/data1/tooltips/event_alumni_gallery.jpg" alt="Hội sinh viên UEH" />2</span></a>
                </div>
            </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">http://wowslider.com/</a> by WOWSlider.com v8.7</div>
            <div class="ws_shadow"></div>
        </div>

        @Scripts.Render("~/Theme/engine1/wowslider.js")
        @Scripts.Render("~/Theme/engine1/script.js")
        @*<script type="text/javascript" src="~/Theme/engine1/wowslider.js"></script>
            <script type="text/javascript" src="~/Theme/engine1/script.js"></script>*@
        <!-- End WOWSlider.com BODY section -->

        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2 class="cursive-font primary-color">Sinh Viên 5 Tốt Tiêu Biểu 2016</h2>
                        <p>Cuộc vận động Sinh viên 5 tốt năm 2016 đã tìm ra được các gương mặt vô cùng xuất sắc và tuyên dương tại "Gala tuyên dương Sinh viên 5 tốt 2016".</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Theme/images/img_1.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Theme/images/img_1.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Vũ Thị Quỳnh Thơ</h2>
                                <p>
                                    Sinh ngày: 02/09/1995<br>
                                    Lớp: TH01-K40
                                </p>
                                <p><span class="price cursive-font">SV5T Cấp Thành</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Theme/images/img_2.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Theme/images/img_2.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Nguyễn Mậu Sơn</h2>
                                <p>
                                    Sinh ngày: 02/09/1995<br>
                                    Lớp: TH01-K40
                                </p>
                                <p><span class="price cursive-font">SV5T Cấp Thành</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Theme/images/img_3.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Theme/images/img_3.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Dương Hữu Long</h2>
                                <p>
                                    Sinh ngày: 02/09/1995<br>
                                    Lớp: TH01-K40
                                </p>
                                <p><span class="price cursive-font">SV5T Cấp Thành</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="gtco-features">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Phong trào Sinh Viên 5 Tốt 2017</h2>
                        <p>Tiếp nối năm 2016, cuộc vận động Sinh viên 5 tốt 2017 sẽ tiếp tục truyền lửa cho các bạn sinh viên UEH phấn đấu đạt danh hiệu SV5T 2017.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-write"></i>
                            </span>
                            <h3>Học tập tốt</h3>
                            <p>Điểm trung bình 7.7/10 trở lên, đối vớ sinh viên khoa Luật là 7.5/10</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-thumb-up"></i>
                            </span>
                            <h3>Đạo đức tốt</h3>
                            <p>Điểm rèn luyện 80/100 trở lên, xếp loai Đoàn viên xuất sắc. Không vi phạm pháp luật, có lòng yêu nước, ...</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-face-smile"></i>
                            </span>
                            <h3>Thể lực tốt</h3>
                            <p>Đạt thanh niên khỏe hoặc là vận động viên tham gia Hội thao cấp trường, Khoa/Viện/KTX</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-wheelchair"></i>
                            </span>
                            <h3>Tình nguyện tốt</h3>
                            <p>5 ngày tình nguyện/năm hoặc tham gia chiến dịch tình nguyện Mùa hè xanh, chiến dịch Xuân tình nguyện, chương trình Tiếp sức mùa thi </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-headphone"></i>
                            </span>
                            <h3>Hội nhập tốt</h3>
                            <p>500 TOEIC trở lên đố với sinh viên năm 1,2 600 TOEIC trở lên đối với sinh viên năm 3,4. Có ít nhất 1 chứng nhận kĩ năng xã hội</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gtco-cover gtco-cover-sm" style="background-image: url(../../Theme/images/img_bg_3.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container text-center">
            <div class="display-t">
                <div class="display-tc">
                    <h1 style="font-family: 'Myriad'">&ldquo; Hội Sinh viên UEH, Đoàn kết, Sáng tạo, Tự tin, Hội nhập!&rdquo;</h1>
                    <p>&mdash; Trần Nhật Hoàng, Chủ tịch Hội sinh viên UEH.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-counter" class="gtco-section">
        <div class="gtco-container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2 class="cursive-font primary-color">Các Con Số Nổi Bật</h2>
                    <p>Sinh viên 5 tốt <br> “Chinh phục 5 tốt - vững bước tương lai”.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="17" data-speed="5000" data-refresh-interval="50">1</span>
                        <span class="counter-label">Năm tổ chức</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="16230" data-speed="5000" data-refresh-interval="50">1</span>
                        <span class="counter-label">SV tham gia</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="1230" data-speed="5000" data-refresh-interval="50">1</span>
                        <span class="counter-label">SV đạt danh hiệu</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="2000" data-speed="5000" data-refresh-interval="50">1</span>
                        <span class="counter-label">Năm bắt đầu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-subscribe">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font">Theo Dõi Hội Sinh Viên UEH</h2>
                    <p>Nhập email của bạn để cập nhật các thông tin mới nhất từ Hội sinh viên UEH.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-inline">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email của bạn">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-default btn-block">Theo dõi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer id="gtco-footer" role="contentinfo" style="background-image: url(../../Theme/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row row-pb-md">

                <div class="col-md-12 text-center">
                    <div class="gtco-widget">
                        <h3>Thông tin liên hệ</h3>
                        <ul class="gtco-quick-contact">
                            <li><a href="#"><i class="icon-phone"></i> +84 983 595 106</a></li>
                            <li><a href="#"><i class="icon-mail2"></i> duyenduong.2995@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="gtco-widget">
                        <h3>Mạng xã hội</h3>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 text-center copyright">
                    <p>
                        <small class="block">&copy; 2017 </small>
                        <small class="block">Thiết kế: <a href="http://gettemplates.co/" target="_blank">Nhóm sinh viên TH01 - BIS</a><br> Trường: <a href="http://unsplash.com/" target="_blank">Đại học Kinh Tế TP.HCM</a></small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- </div> -->
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/Theme/js/jquery.min.js")
    @*<script src="js/jquery.min.js"></script>*@
    <!-- jQuery Easing -->
    @Scripts.Render("~/Theme/js/jquery.easing.1.3.js")
    @*<script src="js/jquery.easing.1.3.js"></script>*@
    <!-- Bootstrap -->
    @Scripts.Render("~/Theme/js/bootstrap.min.js")
    @*<script src="js/bootstrap.min.js"></script>*@
    <!-- Waypoints -->
    @Scripts.Render("~/Theme/js/jquery.waypoints.min.js")
    @*<script src="js/jquery.waypoints.min.js"></script>*@
    <!-- Carousel -->
    @Scripts.Render("~/Theme/js/owl.carousel.min.js")
    @*<script src="js/owl.carousel.min.js"></script>*@
    <!-- countTo -->
    @Scripts.Render("~/Theme/js/jquery.countTo.js")
    @*<script src="js/jquery.countTo.js"></script>*@

    <!-- Stellar Parallax -->
    @Scripts.Render("~/Theme/js/jquery.stellar.min.js")
    @*<script src="js/jquery.stellar.min.js"></script>*@

    <!-- Magnific Popup -->
    @Scripts.Render("~/Theme/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Theme/js/magnific-popup-options.js")
    @Scripts.Render("~/Theme/js/moment.min.js")
    @Scripts.Render("~/Theme/js/bootstrap-datetimepicker.min.js")
    @*<script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>

        <script src="js/moment.min.js"></script>
        <script src="js/bootstrap-datetimepicker.min.js"></script>*@

    <!-- Main -->
    @Scripts.Render("~/Theme/js/main.js")
    @*<script src="js/main.js"></script>*@
</body>
</html>