﻿@{
    ViewBag.Title = "Examples";
    ViewBag.SubTitle = "Login";
}

@section Menu {
    @Scripts.Render("~/Scripts/Examples/Login/menu")
}

@Styles.Render("~/AdminLTE/plugins/icheck/css/sqare/blue")

<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("DashboardV1", "Home")">Welcome to <b>WebApplication!</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form href="#" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        <a href="#">I forgot my password</a><br>
        <a href="#" class="text-center">Register as a new user</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Examples/Login")
}