﻿@model WebApplication.Models.CLBDN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLBDN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCLBDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCLBDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCLBDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCLBDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuocCapTruong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuocCapTruong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiCLBDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCLBDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoQuyetDinhChuanY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoQuyetDinhChuanY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCLBDN }) |
    @Html.ActionLink("Back to List", "Index")
</p>