﻿@model IEnumerable<WebApplication.Models.CLBDN>

@{
    ViewBag.Title = "CLB/Đội/Nhóm";
    ViewBag.SubTitle = "Danh sách";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCLBDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCLBDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuocCapTruong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiCLBDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoQuyetDinhChuanY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCLBDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCLBDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuocCapTruong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiCLBDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhChuanY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCLBDN }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDCLBDN }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCLBDN })
            </td>
        </tr>
    }
</table>