﻿@model WebApplication.Models.HoiVien_CLBDN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoiVien_CLBDN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayThamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGiaHoatDongTichCuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGiaHoatDongTichCuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoQuyetDinhChuanY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoQuyetDinhChuanY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TomTatThanhTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomTatThanhTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLBDN.MaCLBDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLBDN.MaCLBDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoiVien.MaHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoiVien.MaHV)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHoiVien_CLBDN }) |
    @Html.ActionLink("Back to List", "Index")
</p>