﻿@model IEnumerable<WebApplication.Models.HoiVien_CLBDN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayThamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhGiaHoatDongTichCuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoQuyetDinhChuanY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TomTatThanhTich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLBDN.MaCLBDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoiVien.MaHV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhGiaHoatDongTichCuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoQuyetDinhChuanY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TomTatThanhTich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLBDN.MaCLBDN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoiVien.MaHV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDHoiVien_CLBDN }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDHoiVien_CLBDN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDHoiVien_CLBDN })
        </td>
    </tr>
}
</table>