﻿@model WebApplication.Models.LopDC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LopDC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLopDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLopDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLopDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLopDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiHoi.MaCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiHoi.MaCH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLopDC }) |
    @Html.ActionLink("Back to List", "Index")
</p>