﻿@model WebApplication.Models.HoatDong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoatDong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuocTruong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuocTruong)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHoatDong }) |
    @Html.ActionLink("Back to List", "Index")
</p>