﻿@model IEnumerable<WebApplication.Models.HoatDong>

@{
    ViewBag.Title = "Hoạt động";
    ViewBag.SubTitle = "Danh sách";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHoatDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiHoatDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuocTruong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHoatDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiHoatDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuocTruong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDHoatDong }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDHoatDong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDHoatDong })
        </td>
    </tr>
}
</table>