﻿@model IEnumerable<WebApplication.Models.Khoa>

@{
    ViewBag.Title = "Khoa";
    ViewBag.SubTitle = "Danh sách";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDKhoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDKhoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDKhoa })
        </td>
    </tr>
}
</table>