﻿@model WebApplication.Models.LopCN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LopCN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLopCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLopCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLopCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLopCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiHoi.MaCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiHoi.MaCH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLopCN }) |
    @Html.ActionLink("Back to List", "Index")
</p>