﻿@model IEnumerable<WebApplication.Models.LopCN>

@{
    ViewBag.Title = "Lớp đại cương";
    ViewBag.SubTitle = "Danh sách";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLopCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLopCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiHoi.MaCH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLopCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLopCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NienKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiHoi.MaCH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLopCN }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLopCN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLopCN })
        </td>
    </tr>
}
</table>