﻿@model WebApplication.Models.HoiVien

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoiVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoLaHoiVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoLaHoiVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh.GioiTinh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh.GioiTinh1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopCN.MaLopCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopCN.MaLopCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopDC.MaLopDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopDC.MaLopDC)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>