﻿@model WebApplication.Models.HoiVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoiVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoLaHoiVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoLaHoiVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh.GioiTinh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh.GioiTinh1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopCN.MaLopCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopCN.MaLopCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopDC.MaLopDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopDC.MaLopDC)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHoiVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>