﻿@model IEnumerable<WebApplication.Models.HoiVien>

@{
    ViewBag.Title = "Hội viên";
    ViewBag.SubTitle = "Danh sách";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using(Html.BeginForm("Import","HoiViens",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p class="text-danger">@ViewBag.Error</p>
    <span>Excel File</span>
    <p>Download file mẫu: <a href="~/Content/templates/KetNapHoiVien.xlsx">Kết nạp hội viên</a><br /></p>
    <input type="file" name="excelfile"/>
    <br />
    <input type="submit" value="Import"/>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoLaHoiVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh.GioiTinh1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LopCN.MaLopCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LopDC.MaLopDC)
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NienKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoLaHoiVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh.GioiTinh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopCN.MaLopCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopDC.MaLopDC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDHoiVien }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDHoiVien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDHoiVien })
            </td>
        </tr>
    }
}
</table>