﻿@model WebApplication.Models.ChiHoi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChiHoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LienChiHoi.MaLCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LienChiHoi.MaLCH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDChiHoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>