﻿@model IEnumerable<WebApplication.Models.ChiHoi>

@{
    ViewBag.Title = "Chi hội";
    ViewBag.Title = "Danh sách";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Import", "ChiHois", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p class="text-danger">@ViewBag.Error</p>
    <span>Excel File </span>
    <p>Download file mẫu: <a href="~/Content/templates/DanhSachChiHoi.xlsx">Danh sách chi hội</a><br /></p>
    <input type="file" name="excelfile" />
    <br />
    <input type="submit" value="Import" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienChiHoi.MaLCH)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaCH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenCH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NienKhoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LienChiHoi.MaLCH)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDChiHoi }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDChiHoi }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDChiHoi })
                </td>
            </tr>
        }
    }
</table>