﻿@model WebApplication.Models.Khoa_HoatDong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Khoa_HoatDong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoatDong.TenHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoatDong.TenHoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa.MaKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.MaKhoa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>